* {
  box-sizing: border-box;
}

/* PROFILE CARD CSS */
.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1))
}

/* Wrappers */
.content-div {
  margin: 80px 10px 100px 20px
}

.home-card-div {
  margin-bottom: 120px;
  padding: 2em 2em 2em 2em;
  text-align: center;
}

.home-div {
  margin: 80px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
}

.about-div {
  padding: 2em 2em 2em 2em;
  text-align: center;
  margin: collapse;
}

.form-container {
  margin: 80px 0px 0px 0px;
  justify-self: center;
}


/* CARD STYLING */
.add-card {
  color:rgb(128, 128, 128);
}
.add-card :hover {
  color: #fff;
  background-color: #4fd8d8;
}

.school-card {
  min-height: 150px;
}
.school-card :hover{
  color:white;
  background-color: #14a8a8;
}
.school-card-title {
  font-size: 2.5em;
}

.student-card {
  min-height: 70px;
  background-color: #fbfbfb;
}
.student-card-button {
  text-align: right;
  font-size: small;
}
.student-card :hover{
  background-color: #14a8a8;
  color:white
}
.student-card-title {
  font-size: 1.5em;
}

.home-card-title {
  color:#333;
}
.home-card {
  margin-bottom: 20px;
  color:#333
}

.go-to-cards {
  margin: 30px 0px 30px 0px
}
.go-to-title {
  text-align: center;
  font-size: 2em;
  color:#333

}
.go-to-cards :hover{
  background-color: #4fd8d8;
}

/* Button Styling */

.sign-up-button {
  padding: 10px;
  margin: 1em;
  font-size: 2em;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  border-radius: .3em;
  border: none;
  color:#333;
}

.sign-up-button:hover {
  background-color: #4fd8d8; 
}

.sign-up-button:active {
  background-color: #a1e6e6;
  color:white;
}

.about-div button {
  display: inline;
  width: 40%;
}

.form button {
  margin: 20px 20px 20px 0px;
}

.buttons {
  margin: 20px 20px 20px 0px;
}


/* Element styling */
.footer {
  position:sticky;
  bottom: 0;
  width: 100%;
}

.adding-form {
  width: 70%
}

.table-background {
  background-color: #0cc7c7;
}

h5 {
  padding: 10px 10px 10px 0px;
}

.details-list {
  list-style-type: none;
  text-indent: none;
}

.page-title {
  padding: 0.5em 0 0.5em 0;
  text-align: center;
  color: white;
  font-size: 3em;
}

#invoice-title{
  text-align: center;
  padding: 20px
}

.login-link a {
  text-decoration: none;
  font-size: 1.3em;
}

.stealth-link a {
  text-decoration: none;
  color:#333
}

.stealth-link a:hover {
  text-decoration: none;
  color:#333
}

#home-logo {
  width: 60%;
  max-height: 600px;
}

.form {
  width: 600px;
  justify-self: center;
  background-color:white;
  padding:20px;
  border: 2px solid black
}